.account{
    display: flex;
    background: #fff;
    padding: .8em 1.2em;
    border: 0px solid #fff;
    min-width: 480px;
    align-items: center;
    height: 100vh;
    border-radius: 15px;

    &__content{
        display: flex;
        flex-direction: column;
        padding: 0em 1.2em;
        width: 350px;
        margin:auto;
        position: relative;
    }

    &__title{
        font-size: 50px;
        margin: 0px 0px 50px 0;
        display: inline;
        margin-inline-start: 0px;
        margin-block-start: 0px;
    }

    &__route{
        margin-top: 14px;
        margin-bottom: -8px;
        cursor: pointer;
    }
}



.primary-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin: 20px 0px 0px 0px;
    height: 56px;
    font-size: 18px;
}
  
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) {

    .account{
        min-width: 350px;

        &__route{
            font-size: 12px;
        }
    }
}
  
  @media screen and (max-width:1024px){
    
    .account{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 602.55px;
      max-height: 602.55px;
      min-height: 602.55px;
      width: 50vw;
      background:#fff;
      z-index: 99;
      box-shadow: 0 5px 13px rgba(0,0,0,0.8);

      &__route{
        font-size: 13px;
      }

      &__title{
        text-align: center;
      }
    }
  
    label{
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    .login{
      width: 300px;
    }
  
    .field{
      margin: 10px 0;
    }
  }