@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

.menu{
    padding: 3em 15vw;

    &__title-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid $light-grey;
        margin-bottom: 30px;
    }

    &__title{
        font-size: 32px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        margin-bottom: .3rem;
    }

    &__subtitle {
        text-align: center;
        color: $secondary-text;
        font-size: 14px;
        max-width: 700px;
        margin-top: .2rem;
        margin-bottom: 1.2rem;
    }

    &__unavailable {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-weight: 600;
        font-size: 16px;
        
        &__title {
            display: inline;
            margin-left: .3rem;
        }

        &__subtitle {
            margin-top: .1rem;
            font-size: 14px;
            font-weight: normal;
            color: $secondary-text;
        }
    }

    &__category{
        margin-bottom: 60px;
    }

    &__cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, .35fr));
        justify-content: left;
        grid-gap: 2rem;
    }

    &__card{
        // border: 1px solid $light-grey;
        box-shadow: $box-card-shadow;
        border-radius: 8px;
        transition: all .2s ease 0s;
        overflow: hidden;
        position: relative;
        align-self: stretch;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;

        &:hover{
            transform: translateY(-8px);
        }

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &__image-container{
        height: 200px;
    }

    &__image{
        min-height: 200px;
        max-height: 200px;
        min-width: 100%;
        object-fit: cover;
    }

    &__details{
        padding: .8em 1.2em 1.2em;
        display:flex;
        flex-direction: column;
    }

    &__name{
        font-weight: 700;
        font-size: 18px;
    }

    &__desc{
        color: $secondary-text;
        font-size: 14px;
        padding-top: .2em;
    }

    &__price{
        font-weight: 700;
        font-size: 17px;
        margin: .7em 0 0;
    }

    &__button_cart {
        margin-top: auto;
    }
    
    &__tocart{
        transition: .3s;

        display: flex;
        justify-content: center;
        align-items: center;
        padding: .56em 1.2em;
        margin: 0 1.2em 1em;
        border-radius: 5px;
        font-weight: 700;

        &__icon{
            font-size: 14px;
            margin-left: 10px;
            margin-bottom: .2rem;

            &__float{
                margin: 0;
                padding: 0;
                font-size: 24px;
                display:flex;
                justify-content: center;
                align-items: center;
                text-align: center;
            }
        }
    }

    &__quantity{
        transition: .3s;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        font-weight: 700;
        cursor: default;
        padding: .5em 1.2em;
        margin: 0 1.2em 1em;
        // box-shadow: 0px 2px 8px 4px rgba(0,0,0,0.09);
        border: 1px solid $btn-primary;

        &__number{
            margin: 0;
            font-size: 14px;
        }

        &__icon{
            font-size: 14px;
            color: $btn-primary;
            cursor: pointer;
        }
    }

    .left{
        float: left;
        margin-right: auto;
    }

    .right{
        float: right;
        margin-left: auto;
    }

    //======================
    //FOR ADMIN PAGE STYLING
    //======================

    &__add{
        float: right;
        margin-left: auto;
        padding: .5em 1.2em;
        border-radius: 8px;
        min-width: 120px;
            
        &__label{
            margin: 0;
            pointer-events: none;
        }

        &__float{
            position: fixed;
            bottom: 10px;
            right: 10px;
            border-radius: 50%;
            height: 65px;
            width: 65px;
            padding: 1em;
            box-shadow: $box-card-shadow;
        }
    }

    &__remove,
    &__edit{
        display: block;
        text-align: center;
        padding: .3em 1.2em;
        margin: 1rem;
        border-radius: 5px;
    }

    &__remove{
        border: 1px solid $btn-destructive;
        color: $btn-destructive;
        font-weight: 600;
        cursor: pointer;

        &:hover{
            color: $btn-destructive-hover;
            border: 1px solid $btn-destructive-hover;
        }

        &:active{
            color: $btn-destructive-click;
            border: 1px solid $btn-destructive-click;
        }
    } 

    &__catselect{
        margin: 15px 0;

        &__select{
            border-bottom: 1px solid $light-grey;
            border-top:none;
            border-left:none;
            border-right:none;
            border-radius: 0;
            padding-left: 2px;

            &__title{
                color: $light-grey;
            }
        }

        &:focus{
            outline: none;
        }
    }

    &__modal{
        padding-top: 0;
        margin-top: -1rem;

        &__input{
            background: transparent;
            border-bottom: 1px solid $light-grey;
            border-radius: 0;
            font-size: 16px;
            left: 0px;
            

            &:hover{
                background: transparent;
            }

            &:focus{
                outline: none;
            }   
        }

        &__placeholder{
            top: 28px;
            left: 2px;
            font-size: 16px;
        }

        &__buttongroup{
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;

            &__button{
                padding: .3em 1.2em;
                border-radius: 5px;
                cursor: pointer;

                &:first-child{
                    margin-right: 15px;
                }
            }
        }
    }

    &__add {
        padding: .5rem 2rem;
        outline: none;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 1rem;
    }
    
    &__title-container {
        position: relative;
        padding-bottom: .5rem;
    }

    &__fileupload{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        margin-bottom: 20px;
        overflow: hidden;
        border-radius: 7px;
        box-shadow:  0px 5px 10px 2px rgba(0,0,0,0.15);

        &__icon{
            font-size: 28px;
            color: $btn-primary;
            margin-right: 10px;
        }

        &__text{
            color: $btn-primary;
            font-weight: 600;
        }

        &__image{
            min-width: 100%;
            object-fit: cover;
        }

        &__container{
            margin: 5em 0;
        }
    }

    &__sort-select {
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 150px;
        margin-bottom: 1rem;
    }
}

.border{
    border: 1px solid $light-grey;
    box-shadow: none;
}

.custom__input-row input:focus + .placeholder,
.custom__input-row input:valid + .placeholder{
    left: 2px;
}

.placeholder{
    left: 2px;
}

.field{
    padding-left: 2px;
}

.input__textarea{
    margin-top: 20px;
    margin-bottom: 10px;
}

input[type="file"] {
    display: none;
}

@media screen and (max-width:1366px){
    .menu{
        padding: 3em 10vw;

        &__cards{
            grid-template-columns: repeat(auto-fit, minmax(250px, .35fr));

        //     justify-content: center;
        }
    }
}

@media screen and (max-width:1020px){
    .menu{
        &__cards{
            grid-template-columns: repeat(auto-fit, minmax(220px, .5fr));
            gap: 1rem;
        }
    }
}

@media screen and (max-width:1000px){
    .menu {    
        &__title-container {
            position: relative;
            padding-bottom: .5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__add {
            position: static;
            margin-bottom: 0rem;
            margin-left: 1rem;
            font-size: 14px;
            // padding: .5em 1.2em;
        }

        &__sort-select {
            position: static;
            margin-bottom: 0rem;
        }

        &__controls {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-bottom: .5rem;
            margin-top: .5rem;
        }
    }
}

@media only screen and (max-width: 700px) {
    .menu{
        padding: 3m 1em;

        &__cards{
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }

        &__card{
            &:hover{
                transform: translateY(-4px);
            }
        }

        &__price {
            margin-bottom: .2em;
        }

        &__details{
            padding: .5em 1em 1em;
            display:flex;
            flex-direction: column;
        }

        &__quantity,
        &__tocart{
            margin: 1em;
            margin-top: 0;
        }

        &__add {
            // padding: .3rem 1.5rem .4rem;
            min-width: 123px;
        }
    }
}

@media only screen and (max-width: 480px) {
    .menu{
        padding: 2em 1em 2em 1em;

        &__cards{
            grid-template-columns: 1fr 1fr;
            gap: .8rem .7rem
        }

        &__card{
            &:hover{
                transform: translateY(-3px);
            }
        }

        &__image-container {
            height: 100px;
        }

        &__image {
            min-height: 0px;
            height: 100px;
        }

        &__name{
            font-weight: 700;
            font-size: 15px;
            margin-top: .1em;
        }

        &__desc {
            font-size: 12px;
            padding-top: .3em;
        }

        &__price {
            font-size: 14px;
            margin-bottom: 0;
            margin-top: .5rem;
        }

        &__details{
            padding: .2em .5em .6em;
            display:flex;
            flex-direction: column;
        }

        &__tocart{
            // padding: .56em 1.2em;
            margin: .5rem .5rem .5rem;

            // margin: 0;
            // border-radius: 0;

            &__icon{
                font-size: 12px;
            }
        }

        &__quantity__number {
            font-size: 13px;
        }

        &__quantity{
            padding: .5em 1.2em;
            margin: .5rem .5rem .5rem;
            border-radius: 8px;
            // border: none;
            // border: 1px solid ;
            // box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.09);
    
            &__icon{
                font-size: 10px;
                color: $btn-primary;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .menu{
        padding: 1.2em 1em 2em 1em; 

        &__cards{
            grid-template-columns: 1fr 1fr;
        }

        &__subtitle {
            text-align: center;
            color: $secondary-text;
            font-size: 12px;
        }

        &__unavailable {
            font-size: 15px;
    
            &__subtitle {
                font-size: 12px;
            }
        }

        &__title {
            font-size: 28px;
        }

        &__add {
            padding: .4rem 1.5rem .5rem;
            min-width: 100px;
            font-size: 14px;
            outline: none;
        }
    }
}
