@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

.menu{
    padding: 2em 15vw;

    &__title-container{
        display: flex;
        align-items: center;
        border-bottom: 1px solid $light-grey;
        margin-bottom: 30px;
    }

    &__title{
        font-size: 36px;
        font-weight: 600;
    }

    &__category{
        margin-bottom: 30px;
    }

    &__cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, .35fr));
        justify-content: left;
        grid-gap: 2rem;
    }

    &__card{
        // border: 1px solid $light-grey;
        box-shadow: $box-card-shadow;
        border-radius: 8px;
        transition: all .2s ease 0s;
        overflow: hidden;
        position: relative;
        align-self: stretch;
        justify-content: flex-start;
        display: flex;
        flex-direction: column;

        &:hover{
            transform: translateY(-8px);
        }

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    &__image-container{
        height: 170px;
    }

    &__image{
        min-height: 170px;
        max-height: 170px;
        min-width: 100%;
        object-fit: cover;
    }

    &__details{
        padding: .8em 1.2em 1em;
        display:flex;
        flex-direction: column;
    }

    &__name{
        font-weight: 700;
        font-size: 18px;
    }

    &__desc{
        color: $secondary-text;
        font-size: 14px;
        padding-top: .2em;
    }

    &__price{
        font-weight: 600;
        margin: .4em 0 0;
    }

    &__button_cart {
        margin-top: auto;
    }
    
    &__tocart{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .56em 1.2em;
        margin: 0 1.2em 1em;
        border-radius: 5px;
        font-weight: 700;

        &__icon{
            font-size: 14px;
            margin-left: 10px;
        }
    }

    &__quantity{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        font-weight: 700;
        cursor: default;
        padding: .5em 1.2em;
        margin: 0 1.2em 1em;
        // box-shadow: 0px 2px 8px 4px rgba(0,0,0,0.09);
        border: 1px solid $btn-primary;

        &__number{
            margin: 0;
            font-size: 14px;
        }

        &__icon{
            font-size: 14px;
            color: $btn-primary;
            cursor: pointer;
        }
    }

    .left{
        float: left;
        margin-right: auto;
    }

    .right{
        float: right;
        margin-left: auto;
    }

    //======================
    //FOR ADMIN PAGE STYLING
    //======================

    &__add{
        float: right;
        margin-left: auto;
        padding: .5em 1.2em;
        border-radius: 8px;
        
        &__label{
            margin: 0;
            pointer-events: none;
        }
    }

    &__remove,
    &__edit{
        display: block;
        text-align: center;
        padding: .3em 1.2em;
        margin: 1rem;
        border-radius: 5px;
    }

    &__remove{
        border: 1px solid $btn-destructive;
        color: $btn-destructive;
        font-weight: 600;
        cursor: pointer;

        &:hover{
            color: $btn-destructive-hover;
            border: 1px solid $btn-destructive-hover;
        }

        &:active{
            color: $btn-destructive-click;
            border: 1px solid $btn-destructive-click;
        }
    } 

    &__catselect{
        margin: 15px 0;

        &__select{
            border-bottom: 1px solid $light-grey;
            border-top:none;
            border-left:none;
            border-right:none;
            border-radius: 0;
            padding-left: 2px;

            &__title{
                color: $light-grey;
            }
        }

        &:focus{
            outline: none;
        }
    }

    &__modal{
        padding-top: 0;
        margin-top: -1rem;

        &__input{
            background: transparent;
            border-bottom: 1px solid $light-grey;
            border-radius: 0;
            font-size: 16px;
            left: 0px;
            

            &:hover{
                background: transparent;
            }

            &:focus{
                outline: none;
            }   
        }

        &__placeholder{
            top: 28px;
            left: 2px;
            font-size: 16px;
        }

        &__buttongroup{
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;

            &__button{
                padding: .3em 1.2em;
                border-radius: 5px;
                cursor: pointer;

                &:first-child{
                    margin-right: 15px;
                }
            }
        }
    }

}

.custom__input-row input:focus + .placeholder,
.custom__input-row input:valid + .placeholder{
    left: 2px;
}

.placeholder{
    left: 2px;
}

.field{
    padding-left: 2px;
}

.input__textarea{
    margin-top: 20px;
    margin-bottom: 10px;
}

@media screen and (max-width:1366px){
    .menu{
        padding: 2em 10vw;

        &__cards{
            grid-template-columns: repeat(auto-fit, minmax(250px, .5fr));

        //     justify-content: center;
        }
    }
}

@media only screen and (max-width: 700px) {
    .menu{
        padding: 2em 1em;

        &__cards{
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }

        &__card{
            &:hover{
                transform: translateY(-4px);
            }
        }

        &__price {
            margin-bottom: .2em;
        }

        &__details{
            padding: .5em 1em 1em;
            display:flex;
            flex-direction: column;
        }

        &__quantity,
        &__tocart{
            margin: 1em;
            margin-top: 0;
        }
    }
}

@media only screen and (max-width: 480px) {
    .menu{
        padding: 2em 1em 2em 1em;

        &__cards{
            grid-template-columns: 1fr 1fr;
            gap: .8rem .7rem
        }

        &__card{
            &:hover{
                transform: translateY(-3px);
            }
        }

        &__image-container {
            height: 100px;
        }

        &__image {
            min-height: 0px;
            height: 100px;
        }

        &__name{
            font-weight: 700;
            font-size: 15px;
            margin-top: .1em;
        }

        &__desc {
            font-size: 12px;
            padding-top: 0;
        }

        &__price {
            font-size: 14px;
            margin-bottom: 0;
            margin-top: .3rem;
        }

        &__details{
            padding: .2em .5em .6em;
            display:flex;
            flex-direction: column;
        }

        &__tocart{
            // padding: .56em 1.2em;
            margin: .5rem .5rem .5rem;

            // margin: 0;
            // border-radius: 0;

            &__icon{
                font-size: 12px;
            }
        }

        &__quantity__number {
            font-size: 13px;
        }

        &__quantity{
            padding: .5em 1.2em;
            margin: .5rem .5rem .5rem;
            border-radius: 8px;
            // border: none;
            // border: 1px solid ;
            // box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.09);
    
            &__icon{
                font-size: 10px;
                color: $btn-primary;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 480px) {
    .menu{
        padding: 2em 1em 2em 1em;

        &__cards{
            grid-template-columns: 1fr 1fr;
        }
    }
}