.primary-button{
    text-decoration: none;
    cursor: pointer;
    background: $btn-primary;
    color: $btn-primary-text;
    text-transform: capitalize;
    font-weight: 550;
    transition: .2s ease;

    &:hover{
        background: $btn-primary-hover;
    }

    &:active{
        background: $btn-primary-click;
    }
}

.destructive-button{
    text-decoration: none;
    cursor: pointer;
    background: $notif;
    color: $btn-destructive-text;
    // text-transform: capitalize;
    font-weight: 550;
    transition: .2s ease;

    &:hover{
        background: $btn-destructive-hover;
    }

    &:active{
        background: $btn-destructive-click;
    }
}

.destructive-secondary{
    text-decoration: none;
    cursor: pointer;
    border: 1px solid $notif;
    color: $notif;
    // text-transform: capitalize;
    font-weight: 550;
    transition: .2s ease;

    &:hover{
        border: 1px solid $btn-destructive-hover;
    }

    &:active{
        border: 1px solid $btn-destructive-click;
    }
}

.icon-secondary{
    color: $icon-secondary;
}

.icon-primary{
    color: $icon-primary;
}

.icon-primary--dark{
    color: $icon-primary-dark;
}

.route-menu{
    color: $route-color;

    &:hover{
        color: $route-color-hover;
    }
}

//========================================
//COPY PASTE THIS TO MAKE OUR CUSTOM INPUT
//========================================
/*
<div class="custom__input">
    <span class = "custom__input-row">
        <input class="field" type="text">
        <span class="placeholder">Placeholder</span>
        <font-awesome-icon :icon="myIcon" class="icon" />
    </span>
</div>
*/
.custom__input{
    position: relative;
    width: 100%;

    .field {
        margin: 7px 0px;
    }
}

.custom__input-row{
    display:flex; 
}

.custom__input-row input:focus + .placeholder,
.custom__input-row input:valid + .placeholder{
    top: 10px;
    left: 12px;
    font-size: 14px;
    color: $text;
}

.custom__input-row input:focus +.placeholder + .icon,
.custom__input-row input:valid +.placeholder + .icon{
    visibility: visible;
}

.field {
    width: 100%;
    font-size: 18px;
    padding: 1.3em .7em 0.5em 0.7em;
    margin: 10px auto;
    display: inline-block;
    background: rgba(126,126,126,0.1);
    border: 0px solid rgba(126,126,126,0.1);
    background-clip:padding-box;
    border-radius: 3px;
    box-sizing: border-box;
    transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
    color: #525252;
    outline: none;
    // outline-color: rgba(126,126,126,0.1);
    outline-width: 1;

    &:hover{
        background: #e7e7e7;
      }
      
    // &:focus{
    //     // background: transparent;
    // }
}

.placeholder{
    pointer-events: none;
    position: absolute;
    top: 30%;
    left: 8%;
    font-weight: 400;
    font-size: 20px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    color: $secondary-text;
}  

.placeholder__textarea{
    pointer-events: none;
    position: absolute;
    margin-top: -20px;
    padding: 0 .8em 0;
    font-weight: 400;
    font-size: 18px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    color: $secondary-text;
}  

.custom__textarea{
    width: 100%;
    border:1px solid $light-grey;
    padding: .35em .5rem .35rem;
    line-height: 1.4;
    // outline: none;
    outline-color: $btn-primary;
}

.custom__input-row textarea:focus + .placeholder__textarea,
.custom__input-row textarea:valid + .placeholder__textarea{
    top: 24px;
    left: 2px;
    font-size: 14px;
    color: $secondary-text;
}

.custom__input-row textarea:focus,
.custom__input-row textarea:valid{
    border: 1px solid $secondary-text;
}

.password{
    padding-right: 45px;
}

.icon{
    top: 30px;
    right: 12px;
    position: absolute;
    font-size: 23px;
    cursor: pointer;
    visibility: hidden;

    .visible{
        visibility: visible;
    }
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}