$primary-bg: #292a2c;
$primary-color: #fff;

$off-white: rgb(248,248,255);

$secondary-bg: #e9e9ea;

$btn-primary: #007bff;
$btn-primary-text: #fff;
$btn-primary-hover: #1a88ff;
$btn-primary-click: #0069da;

$btn-destructive: #f44336;
$btn-destructive-text: #fff;
$btn-destructive-hover: #f5554a;
$btn-destructive-click: #c3352b;

$input-error: #f8a9a4;
$secondary-input-error: #fff2f4;

$icon-primary: #fff;
$icon-primary-dark: #000;
$icon-secondary: #5c5c5c;

$route-color: #007bff;
$route-color-hover: #1a88ff;

$sidebar-color: #000;
$sidebar-color-title: #000;
$sidebar-color-hover: #000;
$sidebar-bg-hover: rgba(0,0,0,0.1);

$notif: #fa3e3e;

$text: #000;
$secondary-text: #9a9a9a; 
$subtitle-text: #494949;

$card-bg: #fff;
$card-border: #fff;
$box-card-shadow: 0px 5px 10px 2px rgba(0,0,0,0.08);

$light-grey: #a9a9a9;
$extra-light-grey: #d2d2d7;

$min-width: 300px;

$default-size: 1em;
$custom-size: $default-size / 4;
$custom-size-redo: $default-size * 4;

@mixin size($width, $height) {
    height: $height;
    width: $width;
}

@mixin draw-progress($progress, $color) {
    .circle {
        .half-circle {
            border-color: $color;
        }
        .left-side {
            transform: rotate($progress * 3.6deg);
        }
        @if $progress <= 50 {
            .right-side {
                display: none;
            }
        } @else {
            clip: rect(auto, auto, auto, auto);
            .right-side {
                transform: rotate(180deg);
            }
        }
    }
}